Django==1.6.2
Jinja2
Markdown
PyYAML
Pygments
Sphinx
astroid
coverage
dj-database-url
dj-static
django-coverage
django-extensions
django-filter
djangorestframework
docopt
docutils
gevent
greenlet
gunicorn
hiredis
mock
psycopg2
pylint
redis
requests
splinter
static
statsd
termcolor
